/*
selectores{estilos}
------------
etiqueta{}
.clase{}
#id{    
}*/

body {
    background: #efeeee;
    padding: 0;
    margin: 0;
}


.cabecera {
    /* border: 2px solid blue; */
    display: flex;
    gap: 5px;
    /*justify-content: space-between; */

}

a{
    /* border: 1px solid red; */
    color: #595858;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover{
    color: rgb(17, 143, 143);
    background: #afaeae;
}

.cuerpo{
    /*border: 1px solid black;*/
}

#perfil{
    /*border: 1px solid gray;*/
    display: flex;
    flex-direction: row;
    align-items: center;
    /*justify-content: center;*/
}

img{
    width: 100px;
    border: 1px solid #595858;
    border-radius: 50%;
}

span{
    /*border: 1px solid blue;*/
    color: blue;
    background: skyblue;
    border-radius: 150px;
    padding: 0.5rem;
    /*padding: 5px 15px;*/
    margin-left: 15px;
}


