/*
selectores{estilos}
------------
etiqueta{}
.clase{}
#id{    
}*/

body {
    background: #efeeee;
    padding: 0;

/* limitar el tamaño */
    width: 650px;
/*centrado de contenido automatico*/
    margin: auto;
}


.cabecera {
    /* border: 2px solid blue; */
    display: flex;
    gap: 5px;
    /* justify-content: space-between; */

}

a{
    /* border: 1px solid red; */
    color: #595858;
    text-decoration: none;
    padding: 0.5rem;
}

a:hover{
    color: rgb(16, 167, 36);
    background: #afaeae;
}
#perfil {
    display: flex;
    align-items: center;
}
#perfil span {
    border:c2px solid green;
    /* padding:10px; */
    padding: 7px 15px;
    /* padding: 5px 15px 40px 100px */
    border-radius: 1.5rem;
    background: #adecad;
    color: green;
    margin-left: 15px;
}

#perfil img {
    width: 100px;
    border-radius: 50%;
}
.cuerpo {border: 1px solid blue ;

}